<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar -->
    <ul class="topnav">
      <li><%= link_to 'Bookshelf', main_pages_url, class: "active" %></li>
      <li><%= link_to 'Book', books_url %></li>
      <li><a href="#contact">Contact</a></li>
      <li class="right"><a href="#about">About</a></li>
   </ul>

    <%= yield %>
  </body>
</html>
